{% extends "layout.html" %}

{% block head %}

<title> Portfoloio - Aulas Mayk Brito </title>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% endblock %}

{% block content %}



    <div id="wrapper" class="links">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
        <div class= "card" id="GykTLqODQuU">
            <div class="card_image-container">
                <img src= "https://i.ytimg.com/vi/GykTLqODQuU/maxresdefault.jpg" alt= "Video aula Mayk Brito">
            </div>
            <div class="card_content">
                <p> Formulário animado com JS puro e CSS animation | Mayk Brito </p>
            </div>
            <div class="card_info">
                <p>57 minutos</p>
                <p class="card_price"> Free </p>
            </div>
        </div>

        <div class= "card" id="GykTLqODQuU">
            <div class="card_image-container" id="GykTLqODQuU">
                <img src= "https://i.ytimg.com/vi/GykTLqODQuU/maxresdefault.jpg" alt= "Video aula Mayk Brito">
            </div>
            <div class="card_content">
                <p> Formulário animado com JS puro e CSS animation | Mayk Brito </p>
            </div>
            <div class="card_info">
                <p>57 minutos</p>
                <p class="card_price"> Free </p>
            </div>
        </div>

        <div class= "card" id="GykTLqODQuU">
            <div class="card_image-container">
                <img src= "https://i.ytimg.com/vi/GykTLqODQuU/maxresdefault.jpg" alt= "Video aula Mayk Brito">
            </div>
            <div class="card_content">
                <p> Formulário animado com JS puro e CSS animation | Mayk Brito </p>
            </div>
            <div class="card_info">
                <p>57 minutos</p>
                <p class="card_price"> Free </p>
            </div>
        </div>

        <div class= "card" id="GykTLqODQuU">
            <div class="card_image-container">
                <img src= "https://i.ytimg.com/vi/GykTLqODQuU/maxresdefault.jpg" alt= "Video aula Mayk Brito">
            </div>
            <div class="card_content">
                <p> Formulário animado com JS puro e CSS animation | Mayk Brito </p>
            </div>
            <div class="card_info">
                <p>57 minutos</p>
                <p class="card_price"> Free </p>
            </div>
        </div>

        <div class= "card" id="GykTLqODQuU">
            <div class="card_image-container">
                <img src= "https://i.ytimg.com/vi/GykTLqODQuU/maxresdefault.jpg" alt= "Video aula Mayk Brito">
            </div>
            <div class="card_content">
                <p> Formulário animado com JS puro e CSS animation | Mayk Brito </p>
            </div>
            <div class="card_info">
                <p>57 minutos</p>
                <p class="card_price"> Free </p>
            </div>
        </div>

        <div class= "card" id="GykTLqODQuU">
            <div class="card_image-container">
                <img src= "https://i.ytimg.com/vi/GykTLqODQuU/maxresdefault.jpg" alt= "Video aula Mayk Brito">
            </div>
            <div class="card_content">
                <p> Formulário animado com JS puro e CSS animation | Mayk Brito </p>
            </div>
            <div class="card_info">
                <p>57 minutos</p>
                <p class="card_price"> Free </p>
            </div>
        </div>

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons"> close </i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"> </iframe>
            </div>

        </div>
    </div>

    <script src="scripts.js"></script>
    
{% endblock %}
